@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}


body{
    background-color: #02142CFF;
    color: #fff
}

nav .name-link a:hover,
nav .name-link a.acgive{
    color: #eedc1b;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    object-fit: cover;
    object-position: top;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

nav{
    padding: 20px 148px;
    background-color: #02142CFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .logo a{
    font-size: 15px;
    color: #3e3e3e;
    font-weight: bold;
}

nav .nav-links{
    display: flex;
    gap: 16px;
}

nav .nav-links a{
    transition: color 0.3s ease;
}

nav .nav-links a:hover,
nav .nav-links a.selected{
    color: #eedc1b;
}

.main {
    padding: 0 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: calc(100vh - 80px);
}

.main .info h1{
    font-size: 44px;
    margin-bottom: 40px;
}

.main .info p{
    font-size: 16px;
    margin-bottom: 45px;
    width: 100%;
}

.main .info button,
.content .post-list .post-item .buttons button{
    padding: 10px 30px;
    background: #303f9f;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.main .info button:hover,
.content .post-list .post-item .buttons button:hover{
    background: #1a237e;
}

.main img{
    width: 400px;
    height: 400px;
    border-radius: 140px;
}

.recent{
    padding: 60px 148px;
    background-color: #02142CFF;
 
}

.recent .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recent .header h4,
.separator h4{
    font-size: 20px;
    font-weight: 400;
}

.recent .header a{
    color: #303f9f;
}

.recent .posts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title .page-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title .page-title h1{
    font-size: 55px;
}

.title .page-title p{
    font-size: 25px;
}

.title .page-title {
    display: flex;
    flex-direction: column;
    
}

.title {
    padding: 60px 148px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}

.flex1{
    display: flex;
    flex-direction: row;
}


.recent .sentence{
    font-size: 32px; 
  color: white;
  font-weight: bold;
  margin: 0;
}

.recent .posts .post-item{
    background-color: #fff;
    padding: 24px;
    width: 460px;
}

.recent .posts .post-item h3,
.content .post-list .post-item h3{
    font-size: 26px;
    margin-bottom: 18px;
}

.recent .posts .post-item .info,
.content .post-list .post-item .info{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.recent .posts .post-item .info h5,
.content .post-list .post-item h5{
    font-size: 18px;
    font-weight: 400;
}

.recent .posts .post-item p{
    width: 400px;
}

.separator{
    padding: 40px 148px 0;
}

.separator h4{
    margin-bottom: 30px;
}

.featured{
    padding: 40px 290px 0;
}

.featured .item,
.works-list .item{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e0e0e0;
}

.featured .item img,
.works-list .item img{
    width: 320px;
    height: 200px;
    border-radius: 6px;
}

.featured .item .details h3,
.works-list .item h3{
    font-size: 30px;
    margin-bottom: 16px;
}

.featured .item .details .item-info,
.works-list .item .details .item-info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.featured .item .details .item-info .year-badge,
.works-list .item .details .item-info .year-badge,
.content .work-info .year-badge{
    background-color: #303f9f;
    padding: 2px 14px;
    color: #fff;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
}

.featured .item .details .item-info h4,
.works-list .item .details .item-info h4{
    color: #8695a4;
    font-size: 18px;
}

.featured .item .details p,
.works-list .item .details p{
    width: 700px;
    text-align: justify;
}

footer{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .socials{
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 20px;
}

footer .socials i{
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .socials i:hover{
    color: #303f9f;
}

footer p{
    font-size: 14px;
}

.page-title{
    padding: 80px 234px 20px;
    width: 100%;
}

.content{
    padding: 30px 148px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02142CFF;
    margin-bottom: 60px;
  }

  /* Spline viewer */
  .container1 spline-viewer {
    width: 100%;
    height: 100%;
  }

  /* Chatbox overlapping the spline viewer */
  .chat-box {
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-left: -80px;
    left: 10%; /* adjust this for alignment */
    transform: translateY(-50%);
    width: 450px;
    height: 650px;
    background-color: rgba(28, 43, 69, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
  }

  .chat-box h2 {
    margin-bottom: 10px;
  }

  .messages {
    
    color: #fff;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
  }

  .skills-list {
    z-index: 11;
list-style: none;
padding: 0;
}

.skills-list li {
margin-bottom: 20px;
padding: 10px 20px; 

border-radius: 8px;
font-size: 18px;
}

.skills-list li::before {
content: "✔️";
margin-right: 10px; 
}

  .input-area {
    display: flex;
  }

  .input-area input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
  }

  .input-area button {
    padding: 10px 20px;
    border: none;
    background-color: #4a90e2;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .input-area button:hover {
    background-color: #357ABD;
  }

  .details {
    padding: 15px;
  }

  .year-badge {
    display: inline-block;
    background-color: #4a90e2;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
  }

  footer {
    
    text-align: center;
    padding: 20px 0;
    background-color: #132544;
    
  }

  footer .socials {
    margin-bottom: 10px;
  }

  footer i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .certi{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      margin-bottom: -25px;
      font-size: 40px;
  }

  .about-section {
    padding: 40px;
    color: #fff;
    border-radius: 10px;
    margin: 40px 0;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    
  }
  .about .p{
      margin-left: -30px;
      font-size: 45px;
  }
  
  .robo-container {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .robo-container > div {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .robo-container p {
    font-size: 24px;
    color: #fff;
  }
  
  .spline-viewer1 {
    width: 100%;
    height: 1000px; 
    max-width: 600px; 
    pointer-events: none;
  }
  .info {
  list-style: none;
  padding: 0;
  }
  
  .info li {
  margin-bottom: 20px;
  padding: 10px 20px; 
  
  border-radius: 8px;
  font-size: 18px;
  }
  
  .info li::before {
  content: "✔️";
  margin-right: 10px; 
  }
  .messages1 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px; 
  }

.content .work-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 970px;
}

.content .work-info .category{
    color: #8695a4;
    font-size: 18px;
}

.content>p{
    width: 970px;
    font-size: 15px;
    margin: 20px 0;
}

.content>img{
    width: 970px;
    margin: 30px 0;
    border-radius: 20px;
}

.content>h1,
.content>h2,
.content>h3{
    width: 970px;
}

.content .post-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .post-list .post-item{
    background-color: #dbedf2;
    padding: 24px;
    width: 960px;
    border-radius: 10px;
}

.content .post-list .post-item .buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.content .post-list .post-item .buttons button{
    font-size: 14px;
    padding: 6px 20px;
}

.content .post-list .post-item .buttons i{
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.content .post-list .post-item .buttons i:hover{
    color: #303f9f;
}

.content .container{
    background-color: rgba(28, 43, 69, 0.9);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 970px;
    border-radius: 20px;
}
.container{
    z-index: 10;
}
.content .container img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.content .container h2{
    margin-bottom: 20px;
    font-size: 30px;
}

.content .container .about>p{
    text-align: justify;
}

.content .container .about .email{
    font-weight: bold;
    margin-top: 30px;
    font-size: 14px;
}

@media screen and (max-width: 1400px) {
    
    nav{
        padding: 20px 60px;
    }

    .main{
        padding: 0 60px;
    }

    .recent{
        padding: 60px;
    }

    .featured,
    .separator{
        padding: 40px 60px 0;
    }

    .page-title{
        padding: 80px 60px 20px;
    }

}

@media screen and (max-width: 1200px) {
    
    nav{
        padding: 20px 40px;
    }

    .main{
        padding: 0 40px;
    }

    .main img{
        width: 340px;
        height: 340px;
    }

    .recent{
        padding: 40px;
    }

    .featured,
    .separator{
        padding: 40px 40px 0;
    }

    .featured .item .details p,
    .works-list .item .details p{
        width: 100%;
    }

    .page-title{
        padding: 80px 40px 20px;
    }

    .content .work-info,
    .content>p,
    .content>img,
    .content>h1,
    .content>h2,
    .content>h3,
    .content .post-list .post-item,
    .content .container{
        width: 100%;
    }

    .content .container img{
        width: 250px;
        height: 250px;
    }

    .content .container h2{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content .container .about>p{
        font-size: 14px;
    }

}

@media screen and (max-width: 992px) {
    
    nav{
        padding: 20px;
    }

    .main{
        padding: 0 20px;
    }

    .main img{
        width: 300px;
        height: 300px;
    }

    .main .info h1{
        font-size: 34px;
    }

    .main .info p{
        font-size: 15px;
    }

    .main .info button{
        font-size: 15px;
        padding: 8px 22px;
    }

    .recent{
        padding: 40px 20px;
    }

    .recent .posts .post-item{
        width: 100%;
    }

    .recent .posts .post-item h3,
    .content .post-list .post-item h3{
        font-size: 20px;
    }

    .recent .posts .post-item .info h5,
    .content .post-list .post-item .info h5{
        font-size: 14px;
    }

    .recent .posts .post-item p{
        width: 100%;
        font-size: 14px;
    }

    .featured,
    .separator{
        padding: 40px 20px 0;
    }

    .featured .item,
    .works-list .item{
        flex-direction: column;
        padding: 0 20px 30px;
    }

    .featured .item img,
    .works-list .item img{
        width: 100%;
        height: auto;
    }

    .featured .item .details h3,
    .works-list .details .item h3{
        font-size: 24px;
        margin-bottom: 12px;
    }

    .featured .item .details .item-info .year-badge,
    .works-list .item .details .item-info .year-badge{
        font-size: 12px;
    }

    .featured .item .details .item-info h4,
    .works-list .item .details .item-info h4{
        font-size: 15px;
    }

    .featured .item .details p,
    .works-list .item .details p{
        font-size: 14px;
    }

    .content{
        padding: 30px 20px 60px;
    }

    .content .container h2{
        font-size: 20px;
    }

    .content .container .about>p{
        font-size: 13px;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        justify-content: center;
    }

    nav .logo{
        display: none;
    }

    .main{
        flex-direction: column;
        justify-content: space-around;
        margin: 40px 0;
        height: auto;
    }

    .main .info h1{
        font-size: 30px;
        margin-bottom: 16px;
    }

    .main .info p{
        margin-bottom: 16px;
    }

    .main .info button{
        padding: 6px 20px;
        font-size: 13px;
    }

    .main img{
        margin-top: 20px;
        width: 100%;
        height: auto;
        border-radius: 50px;
    }

    .recent .posts,
    .content .container{
        flex-direction: column;
    }

    .content .container img{
        width: 100%;
        height: auto;
    }

}
.slider-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#02142CFF;
    border-color: #000;
    border-width: 2px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    margin-bottom: 80px;
    
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.slide {
    min-width: 100px;
    margin: 0 15px;
    margin-top: 10px;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.slide.active {
    transform: scale(1.2);
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.slide.active img {
    filter: grayscale(0%);
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: #6c7a89;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.arrow-button:hover {
    background-color: #556270;
}

.arrow-left {
    left: -40px;
}

.arrow-right {
    right: -40px;
}

.arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 3px 3px 0 0;
    padding: 4px;
    transform: rotate(135deg);
    transition: transform 0.3s ease;
}


.left .arrow {
    transform: rotate(225deg);
}

.right .arrow {
    transform: rotate(45deg);
}


@media (max-width: 600px) {
    .arrow-left {
        left: -20px;
    }

    .arrow-right {
        right: -20px;
    }

    .arrow-button {
        width: 40px;
        height: 40px;
    }

    .slide img {
        width: 60px;
        height: 60px;
    }
}
